.profile-header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 450px;
padding-top: 60px; 
}

.profile-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
background-color: #c4ae56;
background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
position:relative;
z-index: 1;
}

.profile-image {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 55px;
}

#profile-picture {
height: 120 px;
}

.profile-name {
  font-family: 'Arial';
  color: aliceblue;
  margin-bottom: 20px;
}